{% extends "application/profile.html" %}
{% load static %}

{% block title %}
<title> Historia zadań użytkownika</title>
{% endblock title %}

{% block main %}
<main>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1> Historia zadań użytkownika {{user.username}} </h1>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m12 l6">
                <table class="highlight">
                    <thead>
                        <h4 class="black-text text-lighten-3 center-align"> Ukończone zlecone zadania </h4>
                    </thead>
                    <tbody>
                    {% for task in tasks_client %}
                    <tr>
                        <td>
                            <div class="row" style="margin-bottom: 0px;">
                                <div class="col s9">  <a class="black-text" href="{% url 'task_detail' task.pk %}"> <span class="flow-text"> {{ task.title }}</span> </a> </div>
                                <div class="col s3"> <span class="flow-text right"> <i class="material-icons">star</i> {{task.value}} </span> </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="col s12 m12 l6">
                <table class="highlight">
                    <thead>
                        <h4 class="black-text text-lighten-3 center-align"> Ukończone wykonane zadania </h4>
                    </thead>
                    <tbody>
                    {% for task in tasks_receiver %}
                    <tr>
                        <td>
                            <div class="row" style="margin-bottom: 0px;">
                                <div class="col s9"> <a class="black-text" href="{% url 'task_detail' task.pk %}"> <span class="flow-text"> {{ task.title }} </span></a> </div>
                                <div class="col s3"> <span class="flow-text right"> <i class="material-icons">star</i> {{task.value}} </span> </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

{% endblock main %}