{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

	{% block title %}
	<title>Wesoła 1</title>
	{% endblock title %}

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href='{% static "application/css/materialize.css" %}' type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href='{% static "application/css/style.css" %}' type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" crossorigin="anonymous">
</head>
<body>
   {% block header %}
      <nav class="indigo">
        <div class="nav-wrapper container text-black">
            <a id="logo-container" href="{% url 'wall' %}" class="brand-logo"><i class="fas fa-home fa-lg"></i>{{ user.userprofile.address.name }}</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{% url 'messages' %}"><i class="fas fa-scroll"></i> Ogłoszenia</a></li>
                {% if perms.application.add_task %}
                <li><a href="{% url 'profile' %}"><i class="fas fa-user-circle fa-lg"></i> {{user.username}} </a></li>
                {% endif %}
            </ul>
        </div>
      </nav>
  {% endblock header %}

  {% block main %}
   <main>
       <div class="container">
           <div class="row">
               <div class="col s8 offset-s2">
                   <div class="row">
                       <table class="highlight">
                            <thead>
                                <h2 class="center-align"> Aktualne zadania </h2>
                            </thead>
                            <tbody>
                            {% for task in all_tasks %}
                            <tr>
                                <td style="padding-left: 5%;padding-right: 5%;">
                                    <div class="row" style="margin-bottom: 0px;">
                                        <div class="col s9"> <a href = {% url 'task_detail' task.pk %} class="indigo-text"> <span class="flow-text"> {{ task.title }} </span></a> </div>
                                        <div class="col s3"> <span class="flow-text right"> <i class="material-icons">star</i> {{task.value}} </span> </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    {% if perms.application.add_task %}
                    <div class="row" style="padding-right: 5%;" >
                        <a href="{% url 'task_create' %}" class="btn-floating btn-large waves-effect waves-light indigo right"><i class="material-icons">add</i></a>
                    </div>
                    {% endif %}
               </div>
           </div>
       </div>
   </main>
   {% endblock main %}

	{% block footer %}
  <footer class="page-footer indigo">
      <div class="container">
          <div class="row">
              Made by <a class="white-text text-lighten-3" href="http://materializecss.com">Materialize</a> and Gauss Team :)))))
          </div>
      </div>
  </footer>
	{% endblock footer %}

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src= '{% static "application/js/materialize.js" %}'></script>
  <script src= '{% static "js/init.js" %}'></script>
</body>