{% extends "application/index.html" %}
{% load static %}

{% block title %}
<title> Logowanie </title>
{% endblock title %}

{% block header %}
<nav class="indigo">
        <div class="nav-wrapper container text-black">
          <a id="logo-container" href="/1" class="brand-logo center">Logowanie</a>
        </div>
      </nav>
{% endblock header %}

{% block main %}
<main>
  <div class="container" style="position: relative;top: 25%;bottom: 25%;">
    <div class="row">
      <div class="col s12 m8 l4 offset-m2 offset-l4">
        <div class="card">
          <div class="card-content">
            {% if next %}
            <span class="card-title">Musisz się zalogować, aby zobaczyć tą stronę</span>
            {% endif %}
            <form method="post">
              {% csrf_token %}
              <div class="row">
                <div class="input-field col s12">
                  {{ form.username.errors }} {{ form.username }}
                  <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  {{ form.password.errors }} {{ form.password }}
                  <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                </div>
              </div>
              <div class="center-align">
                <button class="btn waves-effect waves-light indigo " type="submit" value="login">Zaloguj
                </button>
              </div>

              <input type="hidden" name="next" value="{{ next }}">

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
{% endblock main %}