{% extends "application/index.html" %}

	{% block title %}
	<title>Wesoła 1</title>
	{% endblock title %}

  {% block main %}
   <main>
       <div class="container">
           <div class="row">
               <div class="col s8 offset-s2">
                   <div class="row">
                       <table class="highlight">
                            <thead>
                                <h2 class="center-align"> Ogłoszenia </h2>
                            </thead>
                            <tbody>
                            {% for message in messages %}
                            <tr>
                                <td style="padding-left: 5%;padding-right: 5%;">
                                    <div class="row" style="margin-bottom: 0px;">
                                        <div class="col s9"> <span class="flow-text"> {{ message.title }} </span></a> </div>
                                        <div class="col s9"> <span class="flow-text"> {{ message.content }} </span></a> </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
               </div>
           </div>
       </div>
   </main>
   {% endblock main %}
