{% extends "application/index.html" %}
{% load static %}

{% block title %}
<title> Profil użytkownika</title>
{% endblock title %}

{% block header %}
      <nav class="indigo">
        <div class="nav-wrapper container text-black">
            <a id="logo-container" href="{% url 'wall' %}" class="brand-logo"><i class="fas fa-home fa-lg"></i>{{ user.userprofile.address.name }}</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{% url 'messages' %}"><i class="fas fa-scroll"></i> Ogłoszenia</a></li>
                <li><a href="{% url 'history' %}"><i class="fas fa-archive fa-lg"></i> Historia </a></li>
                <li><a href="{% url 'profile' %}"><i class="fas fa-user-circle fa-lg"></i> {{user.username}} </a></li>
                <li><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt fa-lg"></i> Wyloguj </a></li>
            </ul>

        </div>
      </nav>
  {% endblock header %}

{% block main %}
<main>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1> Witaj {{user.username}} </h1>
                <h4> Twoja ilość punktów: {{user_points}} </h4>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m12 l6">
                <table class="highlight">
                    <thead>
                        <h4 class="black-text text-lighten-3 center-align"> Zlecone zadania </h4>
                    </thead>
                    <tbody>
                    {% for task in tasks_client %}
                    <tr>
                        <td style="padding-left: 5%;padding-right: 5%;" >
                            <div class="row" style="margin-bottom: 0px;">
                                <div class="col s9">  <a class="indigo-text" href="{% url 'task_detail' task.pk %}"> <span class="flow-text"> {{ task.title }}</span> </a> </div>
                                <div class="col s3">
                                    {% if task.status == task.DONE and task.client == user%}
									<form action="{% url 'task_accept_done' task.pk %}" method="POST">
									{% csrf_token %}
									<button class="btn waves-effect waves-light indigo lighten-1" type="submit">Wykonane</button>
									</form>
								{% else %}
                                    <span class="flow-text"> {{task.status}} </span>
								{% endif %}
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="col s12 m12 l6">
                <table class="highlight">
                    <thead>
                        <h4 class="black-text text-lighten-3 center-align"> Wzięte zadania </h4>
                    </thead>
                    <tbody>
                    {% for task in tasks_receiver %}
                    <tr>
                        <td style="padding-left: 5%;padding-right: 5%;">
                            <div class="row" style="margin-bottom: 0px;">
                                <div class="col s9"> <a class="indigo-text" href="{% url 'task_detail' task.pk %}"> <span class="flow-text"> {{ task.title }} </span></a> </div>
                                <div class="col s3">
                                    {% if task.status == task.ASSIGNED and task.receiver == user%}
                                    <form action="{% url 'task_mark_done' task.pk %}" method="POST">
                                    {% csrf_token %}
                                    <button class="btn waves-effect waves-light indigo lighten-1" type="submit">Zrobione </button>
                                    </form>
                                    {% else %}
                                        <span class="flow-text"> {{ task.status }} </span>
                                    {% endif %}
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

{% endblock main %}