{% extends "application/index.html" %}
{% load static %}

{% block title %}
<title> Dodaj zadanie</title>
{% endblock title %}


{% block main %}
<main class="valign-wrapper">
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s12">
                  {{ form.title.errors }} {{ form.title }}
                  <label for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
                </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                {{ form.description.errors }} {{ form.description }}
                <label for="{{ form.desription.id_for_label }}">{{ form.description.label }}</label>
              </div>
            </div>

            <div class = "row">
              <div class="col s12">
                 <label for="{{ form.value.id_for_label }}"> {{ form.value.label }}</label>
                 <p class = "range-field">
                    {{ form.value.errors }} {{ form.value }}
                 </p>
              </div>
            </div>

            <div class="center-align">
              <button class="btn waves-effect waves-light indigo " type="submit" value="Submit">Dodaj zadanie
                <i class="material-icons right">send</i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock main %}