{% extends "application/index.html" %}

{% block title %}
<title> {{task.title }} </title>
{% endblock title %}

{% block main %}
<main>
    <div class="container">
        <div class="row">
            <div class="col s8 offset-s2">
                <div class="row">
                    <div class="col s12"> <h1>{{ task.title }}</h1> </div>
                </div>
                <div class="row">
                    <div class="col s12"> <h4> Punkty:</h4></div>
                    <div class="col s12"> <span class="flow-text"> <i class="material-icons">star</i> {{task.value}} </span> </div>
                </div>
                <div class="row">
                    <div class="col s12"> <h4> Opis zadania:</h4></div>
                    <div class="col s12"> <span class="flow-text"style="font-size: 1.5em" > {{task.description}} </span> </div>
                </div>
                <div class="row">
                    <div class="col s12"> <h4> Data dodania:</h4></div>
                    <div class="col s12"> <span class="flow-text"style="font-size: 1.5em" > {{task.pub_date}} </span> </div>
                </div>
                <div class="row">
                    <div class="col s12"> <h4> Autor zadania:</h4></div>
                    <div class="col s12"> <span class="flow-text" style="font-size: 1.5em"> {{task.client.username }} (mieszkanie nr {{ task.client.userprofile.flat_number}}) </span> </div>
                </div>

                <div class="row">
                {% if task.receiver == None and task.client != user %}
                    {% if perms.application.add_task %}
                    <form action="{% url 'task_assign' task.pk %}" method="POST">{% csrf_token %}
                    {% else %}
                    <form action="{% url 'task_authenticate_assign' task.pk %}" method="GET">
                    {% endif %}
                    <button class="btn waves-effect waves-light indigo lighten-1" type="submit">Weź zadanie
                    <i class="material-icons right">send</i>
                    </button>
                    </form>
                {% endif %}
                </div>
                {% if task.status == task.APPROVED %}
                <div class="row">
                    <div class="col s12"> <h4> Wykonawca zadania:</h4></div>
                    <div class="col s12"> <span class="flow-text" style="font-size: 1.5em"> {{ task.receiver }} </span> </div>
                </div>
                <div class="row">
                    <div class="col s12"> <h4> Data wykonania zadania:</h4></div>
                    <div class="col s12"> <span class="flow-text" style="font-size: 1.5em"> {{ task.mod_date }} </span> </div>
                </div>
                {% endif %}
            </div>
       </div>
    </div>
</main>
{% endblock main %}